<div class="card d-flex align-items-center">
    <div class="w-100 d-flex justify-content-end">
        <button class="close-button" (click)="onClose()">
            <span class="material-icons">close</span>
        </button>
    </div>
    
    <img class="card-img-top" [src]="character.imageSrc" alt="Card image cap">
    <h5 class="card-title">{{character.name}}</h5>
    <div class="card-body character-content">
        <div class="mx-2 p-0"><p>{{character.shortDescription}}</p></div>
    </div>
    <h5 class="card-title">Связи</h5>
    <ul class="list-group list-group-flush m-1 character-content">
        <li class="list-group-item">
            <div class="mx-2 p-0"><b>Персонаж</b></div>
            <div class="mx-2 p-0"><span>Связь</span></div>
        </li>
        <li class="list-group-item">
            <div class="mx-2 p-0"><b>Персонаж</b></div>
            <div class="mx-2 p-0"><span>Связь</span></div>
        </li>
        <li class="list-group-item">
            <div class="mx-2 p-0"><b>Персонаж</b></div>
            <div class="mx-2 p-0"><span>Связь</span></div>
        </li>
        <li class="list-group-item">
            <div class="mx-2 p-0"><b>Персонаж</b></div>
            <div class="mx-2 p-0"><span>Связь</span></div>
        </li>
        <li class="list-group-item">
            <div class="mx-2 p-0"><b>Персонаж</b></div>
            <div class="mx-2 p-0"><span>Связь</span></div>
        </li>
        <li class="list-group-item">
            <div class="mx-2 p-0"><b>Персонаж</b></div>
            <div class="mx-2 p-0"><span>Связь</span></div>
        </li>
        <li class="list-group-item">
            <div class="mx-2 p-0"><b>Персонаж</b></div>
            <div class="mx-2 p-0"><span>Связь</span></div>
        </li>
        <li class="list-group-item">
            <div class="mx-2 p-0"><b>Персонаж</b></div>
            <div class="mx-2 p-0"><span>Связь</span></div>
        </li>
        <li class="list-group-item">
            <div class="mx-2 p-0"><b>Персонаж</b></div>
            <div class="mx-2 p-0"><span>Связь</span></div>
        </li>
    </ul>
</div>
<div style="height: 5px"></div>