<div class="dialog d-flex justify-content-center align-items-center">
    <div class="background" (click)="onClose()"></div>
    <div class="data">
        <div class="d-flex m-0 p-0 header">
            <h5 class="flex-fill mx my">Добавить персонажа</h5>
            <div class="d-flex m-0 p-0 justify-content-end align-items-start">
                <button class="top-button m-0 p-0" (click)="onClose()">
                    <span class="material-icons mx my">close</span>
                </button>
            </div>
        </div>
        <div class="row p-0 m-0 mt-1">
            <div class="image-data d-flex align-items-center justify-content-center">
                <img *ngIf="fileUrl; else noImage" [src]="fileUrl" alt="Card image cap">
                    <ng-template #noImage>
                        <h5>-</h5>
                </ng-template>
            </div>
        </div>
        <div style="padding-left: 1vw; padding-right: 1vw;">
            <input 
            type="text" 
            style="
                width: 100%; 
                height: 5vh; 
                font-size: 3vh; 
                padding: 0; 
                border-width: 0.1vh; 
                padding-left: 1vw;
                margin-top: 2vh;" 
            [(ngModel)]="characterName" 
            pInputText
            placeholder="Имя персонажа"
        />
        <p-fileUpload 
            #fileUpload
            name="myfile[]"
            [customUpload]="true"
            (uploadHandler)="onUpload($event, fileUpload)"
            mode="basic"
            [auto]="true"
            chooseLabel="Изображение"
            [styleClass]="'upload'"
        ></p-fileUpload>
        <textarea 
            pInputTextArea
            [(ngModel)]="description"
            placeholder="Описание"
        ></textarea>
        </div>
        <div class="buttons d-flex justify-content-end" style="padding-left: 1vw; padding-right: 1vw;">
            <button class="btn btn-primary" [disabled]="!fileUrl || !characterName" (click)="onAdmit()">Сохранить</button>
            <button class="btn btn-outline-secondary" style="margin-left: 1vw;" (click)="onClose()">Отмена</button>
        </div>
    </div>
</div>