:host {
    .character-card {
        width: 160px;
        height: fit-content;
        position: absolute;
        opacity: 0.6;
        
        &.selected {
            opacity: 1;
        }
        p {
            width: 160px;
            text-overflow: ellipsis;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .img-background {
            width: fit-content;
            height: fit-content;
            background: white;
            border-radius: 1px;
            border: 1px solid gray;

            img {
                width: 150px;
                height: 150px;
                margin: 2px;
                object-fit: cover;
                border-radius: 1px;

                border: 1px solid gray;
            }
        }
    }
}