:host {
    .sidebar {
        z-index: 9000;
        position: fixed;
        top: 0;
        left: 0;
        width: fit-content;
        height: 100%;

        .item-container {
            border-bottom: 1px solid lightgray;
            cursor: pointer;
            .material-icons {
                display: inline-flex;
                vertical-align: top;
                font-size: 28px !important;
                margin: 10px;
                color: white;
            }
            
            &.disabled {
                pointer-events: none;

                .material-icons {
                    color: gray;
                }
            }
        }
    }
}