<div class="d-flex flex-column sidebar left m-0 p-0">
    <div class="item-container" [class.disabled]="!isWorkSelected" (click)="addCharacter()">
        <span class="material-icons">person_add</span>
    </div>
    
    <div class="item-container" [class.disabled]="!isCharacterSelected || !isWorkSelected" (click)="openInfo()">
        <span class="material-icons">person</span>
    </div>
    
    <div class="item-container" [class.disabled]="!isCharacterSelected || !isWorkSelected" (click)="addConnection()">
        <span class="material-icons">timeline</span>
    </div>
</div>

<div class="d-flex flex-column sidebar right m-0 p-0">
    <div class="item-container" (click)="addWork()">
        <span class="material-icons">add</span>
    </div>
    
    <div class="item-container" [class.disabled]="!isWorkSelected" (click)="deleteWork()">
        <span class="material-icons">delete</span>
    </div>
</div>

<div class="d-flex flex-row footer">
    <span class="material-icons w-25" [class.disabled]="!isPreviousAvailable" (click)="openPreviousWorkClick()">
        navigate_before
    </span>
    <span class="tree-name w-50">{{ treeName }}</span>
    <span class="material-icons w-25" [class.disabled]="!isNextAvailable" (click)="openNextWorkClick()">
        navigate_next
    </span>
</div>