:host {
    .sidebar {
        z-index: 9000;
        position: fixed;
        top: 0;
        left: 0;
        width: fit-content;
        height: 100%;

        ::ng-deep {
            .nav-el {
                cursor: pointer;
            }

            .material-icons {
                display: inline-flex;
                vertical-align: top;
                font-size: 5vh !important;
                margin-top: 1vh;
                margin-left: 0.5vw;
                margin-right: 0.5vw;
                color: white;

                &.disabled {
                    color: gray;
                    pointer-events: none;
                }
            }
        }
    }
}