<div class="d-flex flex-column sidebar m-0 p-0">
    <div class="item-container" (click)="addCharacter()">
        <span class="material-icons">person_add</span>
    </div>
    
    <div class="item-container"  [class.disabled]="!isCharacterSelected" (click)="openInfo()">
        <span class="material-icons" [class.disabled]="!isCharacterSelected">person</span>
    </div>
    
    <div class="item-container" [class.disabled]="!isCharacterSelected" (click)="addConnection()">
        <span class="material-icons">timeline</span>
    </div>
</div>