<app-sidebar 
    (openCharacterInfo)="openCharacterInfo()" 
    (openAddConnection)="openAddNewConnection()"
    (openAddCharacter)="openAddNewCharacter()"
    (openNextWork)="openNextWork()"
    (openPreviousWork)="openPreviousWork()"
    (openAddWork)="addWork()"
    (openDeleteWork)="deleteWork()"
    [treeName]="selectedWork ? selectedWork.title : 'Дерево не создано'"
    [isWorkSelected]="selectedWork !== null"
    [isCharacterSelected]="selectedCharacter !== null"
    [isNextAvailable]="isNextAvailable()"
    [isPreviousAvailable]="isPreviousAvailable()"
></app-sidebar>
<div class="background-field">
    <div 
        class="tree-field" 
        style="z-index: 1;" 
        cdkDrag 
        (cdkDragEnded)="onDragEnded($event)"
        (cdkDragMoved)="onDragMoved($event)"
    >
        <ng-container *ngFor="let character of characters">
            <character-card [parentPosition]="position" [character]="character" [selected]="isSelected(character.id)"
                (choose)="selectCharacter($event)" (drag)="onCharacterCardDrag()"></character-card>
        </ng-container>
    </div>
    <ng-container *ngIf="isCharacterInfoOpened">
        <app-description 
            [character]="selectedCharacter" 
            [connections]="selectedCharacterConnections" 
            (close)="closeCharacterInfo()"
            (delete)="deleteCharacter($event)"
            (deleteConnection)="deleteConnection($event)"
        ></app-description>
    </ng-container>
    <ng-container *ngIf="isNewConnectionOpened">
        <app-add-connection 
            [selectedCharacter]="selectedCharacter" 
            [selectedCharacterConnections]="selectedCharacterConnections" 
            [characters]="characters" 
            (close)="closeAddNewConnection()"
            (admit)="addConnection($event)"
        ></app-add-connection>
    </ng-container>
    <ng-container *ngIf="isNewCharacterOpened">
        <app-add-character
            (close)="closeAddNewCharacter()"
            (admit)="addCharacter($event)"
        ></app-add-character>
    </ng-container>
</div>