:host {
    .background-field {
        width: 100vw;
        height: 100vh;
        background-color: whitesmoke;

        .tree-field {
            position: absolute;
            width: 5000px;
            height: 5000px;
            top: -2500px;
            left: -2500px;
            background-color: rgb(235, 233, 233);

            ::ng-deep {
                .cdk-overlay-container{
                    z-index:1; //lower then fixed header z-index so it goes behind it
                  }
            }
        }
    }
}
